:host {
    grid-column: 1/span 5;
    grid-row: 2/span 3;
}

nav {
    display: flex;
    align-content: flex-start;
}


.push {
    margin-left: auto;
}
    
.active {
    color: lightgreen;
}


.test {
    color: white; 
}
