<div class="content-div center-content">
    <p>
        Hemsida är en del av projektinlämning i kursen
        <a href="https://dbwebb.se/kurser/pattern-v1">Pattern(v1)
        </a> vid BTH. Samtligt innehåll är påhittat. 
    </p>
</div>

<div class="content-div center-content">
    <p>Footer innehåll</p>
</div>

<div class="content-div center-content">
    <a href="https://github.com/fahlstrm/pattern-adminweb"><img src="assets/img/icon/github.svg">
    </a>
    <a href="https://dbwebb.se/kurser/pattern-v1"><img src="assets/img/icon/leaf_256x256.png">
    </a>
</div>
