:host {
    grid-column: 1/span 5;
    grid-row: 4;
    color: white;
    background-color:#334A4A;
    padding-top: 50px;
    /* position: absolute;
    bottom: 0; */
    -webkit-clip-path: polygon(0 0,100% 20%,100% 100%,0% 100%);
    clip-path: polygon(0 0,100% 20%,100% 100%,0% 100%); 
}

i, a  {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #75cf90;
}

img {
    height: 2em;
    margin: 0 0.5em;
}

p {
    font-size: 0.8em;
    margin: 0;
    line-height: 1.35em;
}