:host {
    grid-column: 1/span 5;
    grid-row: 4;
    color: white;
    padding-top: 50px;
    -webkit-clip-path: polygon(0 0,100% 20%,100% 100%,0% 100%);
    clip-path: polygon(0 0,100% 20%,100% 100%,0% 100%); 
    background: linear-gradient(to bottom left, #5c5c5c, #424242, #3f3f3f, #333333);
}


i, a  {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #75cf90;
}

img {
    height: 2em;
    margin: 0 0.5em;
    filter: grayscale(100%);
}

img:hover {
    filter: none;
}

p {
    font-size: 0.8em;
    margin: 0;
    line-height: 1.35em;
}


.bottom-div {
    grid-column: 1/span 12;
    grid-row: 2;
    margin-top: 1em;
    border-top: 0.5px solid rgba(211, 211, 211, 0.61);
    display: flex;
    justify-content: space-evenly;
}

.bottom-div p {
    font-size: 0.7em;
    margin-top: 1em;
}