:host {
    height: 100%;
    display: grid;
    padding: 0 2em;
}

img {
    height: 50%;
    align-self:center; 
    z-index: 3;
}


.round {
    height: 6vh;
    width: 6vh;
}

.icon-display {
    transform: scale(1.5);
}
