.city-div {
    grid-column-start: auto;
    grid-column-end: span 4;
    position: relative;
    text-align: center;
}
.city-div img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    outline: 15vh solid rgba(116, 104, 104, 0.5) !important;
    outline-offset: -15vh;

    overflow: hidden;
    position: relative;
    
}

/* .city-div img:hover {
    outline: 100px solid rgba(197, 197, 197, 0.075) !important;
} */


.city-div p {
    color: white;
    font-size: 3.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    /* padding: 2rem; */
}

.city-div:hover .overlay {
    opacity: 1;
  }
  
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30vh;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #7b1fa2;
}

.overlay p {
    color: orange;
}


