.city-div {
    position: relative;
    text-align: center;
    height: 22vh;
}

.city-div img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.city-div p {
    color: white;
    text-decoration: none;
    font-size: 3.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 128, 0.747);
    padding: 2rem;
}
