.city-div {
    grid-column-start: auto;
    grid-column-end: span 4;
    position: relative;
    text-align: center;
}



.city-div img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    outline: 100px solid rgba(116, 104, 104, 0.5) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
}

/* .city-div img:hover {
    outline: 100px solid rgba(197, 197, 197, 0.075) !important;
} */


.city-div p {
    color: white;
    text-decoration: none;
    font-size: 3.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    /* padding: 2rem; */
}


img:hover > *:hover {
    outline: 100px solid rgba(197, 197, 197, 0.075) !important;
}
