.city-nav {
    grid-column-start: auto;
    grid-column-end: span 1;
    display: flex; 
    flex-direction: row;
    align-content: flex-start;
}

app-map {
    grid-column: 1/ span 12;
    grid-row: 2;
}

app-scooter-table {
    grid-column: 1/span 6;
    grid-row: 3;
}

app-station-table {
    grid-column: 7/span 6;
    grid-row: 3;
}



.active {
    color: rgb(37, 165, 137);
}