.city-nav {
    grid-column-start: auto;
    grid-column-end: span 1;
    display: flex; 
    flex-direction: row;
    align-content: flex-start;
}


app-map {
    grid-column: 1/ span 12;
    grid-row: 3;
}

h2 {
    grid-row: 4;
    grid-column-start: auto;
    grid-column-end: span 6;
    margin: 0;
}

app-scooter-table {
    grid-column: 1/span 6;
    grid-row: 5;
}

app-station-table {
    grid-column: 7/span 6;
    grid-row: 5;
}


span {
    grid-column: 1/span 12;
    grid-row: 2;
    display: flex;
    align-items: center;
}

span p {
    margin: 0 3vw 0 5px;
    font-size: 0.8em;
}


.active {
    color: #69f0ae;
}