.image-div {
    grid-column: 1/span 12;
    margin: -2rem;
    width: 100vw;
    height: 50vh;
    position: relative;
}

.image-div img {
    object-fit: cover;
    flex-shrink: 0;
    width: 100%;
    max-height: 100%;
    /* height: 80%; */
}

.mat-raised-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5vh;
    width: 20vw;
    z-index: 1;
    left: 20vw;
    top: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(to bottom right, #7b1fa2, #7b1fa2a2);
}

.mat-raised-button:hover {
    color: orange;
}
