body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: grid;
    grid-template-rows: 10vh auto auto 25vh;
    min-height: 100vh;
}

.app-header-link, app-navbar, app-body {
    grid-column: 1/span 5;

}

/* Link sourrding header */ 
.app-header-link {
    grid-row: 1;
}

app-body {
    grid-row: 2/span 2;
    min-height: 60vh;
}

app-footer {
    grid-row: 3;
}

.grid-wrap {
    padding: 2em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(2rem, auto);
}

.align-items {
    height: 100%;
    align-items: center;
}

.fill-body {
    min-height: 45vh;
}

.content-div {
    padding: 2rem;
    grid-column-start: auto;
    grid-column-end: span 4;
    border-radius: 3px;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
}


.center-content {
    display: flex;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    align-self: center;
}

.nav-link:hover {
    color: orange;
}

h2, h3 {
    margin: 0;
}
a {
    text-decoration: none;
}

/* table-row hoover */ 
.mat-row:hover {
    background-color: rgba(211, 211, 211, 0.61);;
}


.round {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}


/* style for dialog-container scrollbar */ 
mat-dialog-container::-webkit-scrollbar, body::-webkit-scrollbar, 
mat-dialog-content::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 10px;
}

mat-dialog-container::-webkit-scrollbar-track, body::-webkit-scrollbar-track,
mat-dialog-content::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background-color: rgb(221, 221, 221);
    border-radius: 100px;
}

mat-dialog-container::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb,
mat-dialog-content::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #3a3a3a;
    border-radius: 100px;
}


.darkgrey-background {
    background-color: #424242;
}

.darkgrey {
    color: #424242;
}


.green-background {
    background-color: #69f0ae;
}

.green {
    color: #69f0ae
}

.purple-background {
    background-color: #7b1fa2;
}

.purple {
    color: #7b1fa2;
}

.orange-background {
    background-color: orange;
}

.orange {
    color: orange;
}

.red-background {
    background-color: lightcoral;
}

.red {
    color: lightcoral
}

.yellow-background {
    background-color: rgb(226, 226, 138);
}

.yellow {
    color: rgb(226, 226, 138);
}

.grey-background {
    background-color: grey;
    color: white;
}

