body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grid-wrap {
    padding: 2em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    grid-auto-rows: minmax(2rem, auto);
}

.header-link {
    text-decoration: none;
    color: black;
}

.content-div {
    padding: 2rem;
    grid-column-start: auto;
    grid-column-end: span 4;
}
