<!-- <div class="content-div center-content box-shadow align-items darkgrey-background"> 
    <h3>  
        Körda resor: 
        <span class="green">
           {{log.length}} 
        </span>
    </h3>
</div> -->


<div class="content-div box-shadow align-items darkgrey-background">
    <img src="assets/img/scooters/okai-vehicles-kWy_gq3dN8E-unsplash.jpg" alt="homepage-sctr-img">
    <div> 
        <h3>  
            Körda resor: 
            <span class="green">
               {{log.length}} 
            </span>
        </h3>
    </div>
 </div>
 
 
 <div class="content-div box-shadow align-items darkgrey-background">
    <img src="assets/img/scooters/okai-vehicles-BwuDAkGSWSU-unsplash.jpg" alt="homepage-sctr-img">
    <div>
        <h3> Senast körda:
            <span class="yellow">
                {{log[log.length-1].scooter_id}} 
            </span>
        </h3>
    </div>
 </div>
 
 <div class="content-div box-shadow align-items darkgrey-background">
    <img src="assets/img/scooters/okai-vehicles-3-unsplash.jpg" alt="homepage-sctr-img">
    <div>
       <h3> 
          Elsparkcyklar:
          <span class="orange">
            {{scooters.length}} 
           </span>
        </h3>
    </div>
 </div>
 
