<mat-dialog-content>
    
    <h1 mat-dialog-title>Elscooter: {{scooter.id}}</h1>
    <p> ID: {{scooter.id}}<br> Batterinivå: {{scooter.battery_level}}</p>
    <mat-slide-toggle
        (change)=setChecked()
        class="example-margin"
        [disabled]="disabled"
        [checked]="checked">
        <p>{{checked ? 'Inaktivera' : 'Aktivera' }}</p>
    </mat-slide-toggle>

    <form>
        
        <h4>{{scooterOnCharge ? 'Enheten står på laddstation' : 'Flytta till laddstation'}}</h4>
        <mat-form-field  appearance="fill">
          <mat-label>Stationer</mat-label>
          <mat-select [disabled]="scooterOnCharge" ([ngModel])="selectedStation" name="stations">
            <mat-option *ngFor="let station of stations">
              {{station.location}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p> {{scooterOnCharge ? '' : selectedStation}} </p>
      </form>
  
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>
